<!DOCTYPE html>
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
    <div>
        <h2>Supprimer un Employé</h2>
        <p>Êtes-vous sûr de vouloir supprimer l'employé suivant ?</p>
        <p><strong>Nom :</strong> <span th:text="${employee.name}"></span></p>
        <p><strong>Poste :</strong> <span th:text="${employee.position}"></span></p>
        <p><strong>Departement :</strong> <span th:text="${employee.department.name}"></span></p>
        <form th:action="@{/employees/confirmDelete/{id}(id=${employee.id})}" method="post">
            <input type="hidden" th:value="${employee.id}" name="id">
            <button type="submit">Supprimer</button>
            <a th:href="@{/employees/list}">Annuler</a>
        </form>
    </div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
