<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<nav th:replace="~{fragments/nav :: nav}"></nav>
<div>
    <div>
        <h2>Liste des Employés</h2>
        <table style="border: 1px solid black; border-collapse: collapse;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Poste</th>
                <th>Salaire</th>
                <th>Département</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.position}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.department.name}"></td>
                <td>
                    <a th:href="@{/employees/update/{id}(id=${employee.id})}">Modifier</a> |
                    <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>

        <br>
        <a th:href="@{/employees/create}">Ajouter un Nouvel Employé</a>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
